.Button{
    cursor: pointer;
    color: var(--inverted-color);

}
.rounded{
    background-color: var(--inverted-color);
    transition: .3s;
    border: 2px solid #949494;
    border-radius: 25%;
    display: flex;
    padding: 5px;
    cursor: pointer;
}
.clear{
    border: none;
    outline: none;
    background: none;
}

.simple{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 5px;
}
.simple:hover{
    background-color: rgba(0,0,0,0.1);
}