.Sidebar{
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - var(--navbar-height));
    width: var(--navbar-height);
    background: var(--inverted-bg-color);
    position: relative;
    font-weight: 1000;
}

.collapsed{
    width: 300px;
}

.switchers{
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}
