.app.light {
    --bg-color: rgb(197 197 255);
    --inverted-bg-color: rgb(0 0 75);
    --primary-color: rgb(0 48 0);
    --inverted-color: rgb(195 212 195);
    --secondary-color: #326632;
    --link-inverted-color-primary: rgb(255 206 145);
    --link-inverted-color-secondary: rgb(255 162 160);
}
