.navbar{
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 20px;
    transition: .3s;
    
    .logo{
        color: var(--inverted-color);
        text-decoration: underline;
        font-weight: 600;
    }
    .links{
        display: flex;
        gap: 12px;
        margin-left: auto;
    }
    .mainLink{
        margin-right: 15px;
    }
}